/*Build a Responsive Grid-View*/
* {
  box-sizing: border-box;
}
 /* activate this border property for visual confirmation.
.header {
  border:1px solid red;
}*/
.main {
  width: 75%;
  float:left;
  padding: 15px;
  /* activate this border property for visual confirmation.
  border:1px solid red;*/
}
#menu {
    width: 25%;
    float: left;
    padding: 15px;
    border: 1px solid red;
}
/* 4. A background image on at least one element.*/
html {
  font-family: Helvetica;
  background-image: url("../img/bg-square.gif");
  background-repeat: repeat;
}
/*2. Margin added to at least one element*/
h1 {
  text-align: center;
  line-height: .1em;
  margin-top: 10px;
}
#subtitle {
  text-align: center;
  font-weight: bold;
}
body {
  background: white;
  width:80%;
  margin: 5% 10% 10% 10%;
}
/*1. Padding and border added to at least one element*/
#menu {
  border: solid black .09em;
  border-radius: .5em;
  background: lightyellow;

}
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
/*7. A different color for visited links*/
a:visited {
  color: deeppink;
}
#coverlogo {
  display: inline-block;
  width:10em;

}
/*An element styled with an ID*/
#form {
  margin: auto;
  width: 30%;
}
/*1. Padding and border added to at least one element*/
/*6. A few elements styled using a class*/
.intro {
  padding: 10px;
  color: gray;
}

/*3. At least one centered element (a footer message can be nice for this) */
/*5. A different font on at least one element.*/
#copyright{
  text-align: center;
  margin: 5em;
  font-family: courier;
}
#fmenu {
  margin: auto;
  width: 60%;
  border: 1px solid black;
  background: lightyellow;
  padding: 10px;
}

/* Release 2. Make it Responsive: Add at least one media query to improve the responsiveness of your page.*/

@media screen and (min-width: 300px) {
    h1 {
        font-size: 5.0vw;
    }
    h2 {
      font-size: 3.0vw;
    }
    p{
      font-size: 2vmin;
    }
}
